#div1,#div2{
    height:100px;
    width: 100px;
    background-color: red;
    margin-bottom: 50px
}
#div3{
    height:100px;
    width: 100px;
    background-color: yellow;
    margin-bottom: 50px;
}